<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3조는 못말려</title>
    <link rel="stylesheet" href="header.css" />
</head>

<body>
    <header class="header">
        <div class="headerTop">
            <h1>
                <img src="../../public/logo.png" class="headerLogo">
            </h1>
        </div>
        <div class="headerBottom">
            <ul class="nav">
                <li><a href="../../index.html">내배캠 방범대</a></li>
                <li><a href="../../member/member.html">방범대원 소개</a></li>
                <li><a href="../../guestbook/guestbook.html">방범 일지</a></li>
            </ul>
        </div>
    </header>
</body>
<script src="header.js"></script>

</html>